.header__image {
  min-width: 385px;
  /* max-width: 100%; */
  height: 380px;
  padding-left: 300px;
  object-fit: cover;
}

@media screen and (max-width: 1069px) {
  .header__image {
    max-height: 380px;
    max-width: 325px;
  }
}

@media screen and (max-width: 767px) {
}

@media screen and (max-width: 520px) {
}
