
.header{
  height: 690px;
}

@media screen and (max-width: 1069px) {
  
}

@media screen and (max-width: 767px) {
  .header{
    height: 590px;
  }
  
}

@media screen and (max-width: 520px) {
  .header {
      max-width: 320px;
  }
}